@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <h2>Demo Google Charts</h2>
</div>
<div class="row">
    <select id="produtos" name="produtos" class="form-control"></select>
</div>


@section scripts
{
    <script type="text/javascript">
        var root = 'https://api.myjson.com/bins/yulb5/';

       

        ; (function ($) {
            $(function () {
                CarregarProdutos();
            });
            function CarregarCatAnuncio() {              
                $.ajax({
                    url: root,
                    method: 'GET'
                }).then(function (data) {
                    $("#produtos").empty();
                    $("#produtos").prepend("<option value='' selected='selected'>Selecione</option>");
                    $.each(data, function (key, produto) {
                        $("#produtos").append("<option value='" + produto.Id + "'>" + produto.Nome + "</option>");
                    });
                });

            }

            $(document).on("click", ".salvar-categoria", function (e) {
                e.preventDefault();
                if (!formularioValido()) {
                    alert("Informe todos os campos");
                    return;
                }
                var dados = { categoria: {} };
                if ($("#editando-id").val() != "") {
                    dados.categoria.COD_CATEGORIA = $("#editando-id").val();
                }
                dados.categoria.NOME_CATEGORIA = $("#nome-categoria").val();

                $.ajax({
                    type: 'POST',
                    url: 'categoriaanuncio.aspx/SalvarCategoriasAnuncio',
                    data: JSON.stringify(dados),
                    contentType: 'application/json; charset=utf-8',
                    success: function (r) {
                        var cats = r.d;
                        alert("Partida salva com sucesso");
                        Cancelar();
                    },
                    error: function (r) {
                        debugger; alert("error: " + r.d);
                    }
                })

            });

            $(document).on("click", ".cancelar", function (e) {
                e.preventDefault();
                limparFormulario();
                CarregarCatAnuncio();
                $("#editor-categoria").hide();
                $("#lista-categorias").show();

            });

            $(document).on("click", ".btn-editar", function (e) {
                e.preventDefault();
                var id_ = this.id;

                $.ajax({
                    type: 'POST',
                    url: 'categoriaanuncio.aspx/GetCategoriasAnuncioPorId',
                    data: "{ 'id': " + JSON.stringify(id_) + " }",
                    contentType: 'application/json; charset=utf-8',
                    success: function (r) {
                        var cat = r.d;
                        Cadastrar();
                        $("#editando-id").val(cat.Id);
                        $("#nome-categoria").val(cat.Nome);
                    },
                    error: function (r) {
                        debugger; alert("error: " + r.d);
                    }
                })
                Editar(id_);
            });

            $(document).on("click", ".btn-criar", function (e) {
                e.preventDefault();
                Cadastrar();
            });

            function Editar(id) {

                $.ajax({
                    type: 'POST',
                    url: 'categoriaanuncio.aspx/GetCategoriasAnuncioPorId',
                    data: "{ 'id': " + JSON.stringify(id) + " }",
                    contentType: 'application/json; charset=utf-8',
                    success: function (r) {
                        var cat = r.d;
                        Cadastrar();
                        $("#editando-id").val(cat.Id);
                        $("#nome-categoria").val(cat.Nome);
                    },
                    error: function (r) {
                        debugger; alert("error: " + r.d);
                    }
                })

            }

            function Cadastrar() {
                limparFormulario();
                $("#editor-categoria").show();
                $("#lista-categorias").hide();
            }

            function limparFormulario() {
                $("#editando-id").val("");
                $("#nome-categoria").val("");
            }

           

            function Cancelar() {
                limparFormulario();
                CarregarCatAnuncio();
                $("#editor-categoria").hide();
                $("#lista-categorias").show();
            }
        })(jQuery);
</script>
    }
